NEXT_PUBLIC_MEDUSA_BACKEND_URL={{ backend_url }}
MEDUSA_INTERNAL_BACKEND_URL=http://localhost:9000

NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY={{ medusa_publishable_key }}
NEXT_PUBLIC_MEDUSA_REGION_ID={{ medusa_region_id }}
NEXT_PUBLIC_MEDUSA_COUNTRY_CODE=ar

NEXT_PUBLIC_WHATSAPP_NUMBER={{ whatsapp_number }}
NEXT_PUBLIC_SHIPPING_STANDARD_ARS={{ shipping_standard_ars }}
NEXT_PUBLIC_SHIPPING_EXPRESS_ARS={{ shipping_express_ars }}
