DATABASE_URL=postgres://medusa:medusa@localhost:5433/medusa

STORE_CORS={{ storefront_origin }},{{ pos_origin }}
ADMIN_CORS={{ backend_url }}
AUTH_CORS={{ storefront_origin }},{{ pos_origin }},{{ backend_url }}

JWT_SECRET={{ vault_jwt_secret }}
COOKIE_SECRET={{ vault_cookie_secret }}
MEDUSA_FORCE_INSECURE_COOKIES={{ medusa_force_insecure_cookies | string | lower }}
MEDUSA_ADMIN_EMAIL={{ medusa_admin_email }}
MEDUSA_ADMIN_PASSWORD={{ vault_medusa_admin_password }}
MEDUSA_ADMIN_URL={{ backend_url }}

RESEND_API_KEY={{ vault_resend_api_key | default('') }}
RESEND_FROM={{ vault_resend_from | default('Aurelia <invitaciones@mail.aurelia.gleeze.com>') }}

R2_ACCOUNT_ID={{ vault_r2_account_id | default('') }}
R2_ACCESS_KEY_ID={{ vault_r2_access_key_id | default('') }}
R2_SECRET_ACCESS_KEY={{ vault_r2_secret_access_key | default('') }}
R2_BUCKET={{ vault_r2_bucket | default('') }}
R2_ENDPOINT={{ vault_r2_endpoint | default('') }}
R2_PUBLIC_URL={{ vault_r2_public_url | default('') }}

SEED_DEMO_DATA={{ seed_demo_data | string | lower }}
