MEDUSA_ADMIN_EMAIL={{ medusa_admin_email }}
MEDUSA_ADMIN_PASSWORD={{ vault_medusa_admin_password }}
SEED_DEMO_DATA={{ seed_demo_data | string | lower }}
MERGE_BACKUP_RETENTION_DAYS={{ merge_backup_retention_days }}
NAS_BACKUP_RETENTION_DAYS={{ nas_backup_retention_days }}
NAS_BACKUP_HOST={{ nas_backup_host }}
NAS_BACKUP_MODULE={{ nas_backup_module }}
NAS_BACKUP_USER={{ nas_backup_user }}
